/* VehicleEntryExit.css */

/* VehicleEntryExit.css */

.vehicle-container {
  width: 100%;
  max-width: 1200px; /* Set a maximum width if needed */
  margin: auto;
  padding: 10px; /* Add padding to the container if necessary */
  background-color: #f0f0f0; /* Set the desired background color */
}

/* ... (your existing styles) */


.vehicle-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.vehicle-navbar-left {
  margin-right: auto;
}

.vehicle-add-button {
  margin-left: auto;
}

.vehicle-datePicker {
  border: 2px solid #0f0f0f;
  border-radius: 5px;
}

.vehicle-h1 {
  margin-left: 20px; /* Adjusted margin */
}

.vehicle-form-control {
  width: 110px;
}

.vehicle-small-button {
  padding: 4px 8px;
}

.vehicle-flex-container {
  display: flex;
  align-items: center;
}

.vehicle-ticket-input {
  width: 30px;
}

.vehicle-table-container {
  margin-left: 20px; /* Adjusted margin */
}

.flex-container {
  display: flex;
  align-items: center;
}

.small-button {
  padding: 4px 8px;
  margin-right: 10px; /* Add margin between the buttons */
}